.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.photo-card {
  border: 1px solid #ccc; /* тонка сіра рамка */
  border-radius: 5px;      /* заокруглені кути */
  padding: 10px;           /* відступ всередині */
  margin-bottom: 20px;     /* відстань між карточками */
  list-style: none;        /* прибираємо маркери ul */
  max-width: 250px;        /* за потреби обмежуємо ширину */
}

.photo-card img {
  width: 100%;
  display: block;
}

.photo-info-labels,
.photo-info-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
}

.photo-info-labels span {
  font-weight: bold;
}
