.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-card {
  border: 2px solid #ccc; 
  list-style: none;       
       
}

/* .img-card {
  width: 360px;
  height: 200px;
} */

.photo-card img {
  display: block;
}

.photo-info-labels,
.photo-info-values {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 14px;
}

.photo-info-labels span {
  font-weight: bold;
}


